@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color:rgb(222, 223, 201);
    background-color: #92140f;
    padding: 5%;
    padding-left: 25%;
    padding-right: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

img {
    width: 40%;
}

a {
    color: rgb(0, 255, 0);
}
